body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background-color: black;
    color: aliceblue;
    
}
input{
    background-color: rgb(231, 231, 231);
}
.title{
    text-align: center;
}

.usersConnected{
    color: green;
}

video{
    width: 80%;
}
.writeMessage{
    width: 70%;
    align-items: center;
    height: 50px;
    font-size: large;
}
