body{
    background-color: black;
    color: aliceblue;
    
}
#usersConnected{
 color: greenyellow;   
}
input{
    background-color: rgb(231, 231, 231);
}
.title{
    text-align: center;
}
video{
    width: 80%;
}
.writeMessage{
    width: 70%;
    align-items: center;
    height: 50px;
    font-size: large;
}
